// Основные цвета
$main: #e22063;
$additional: #1c80dc;
$sale: #fda701;
$green: #6fbe20;
$warning: #fd0101;
$new: #7e21dc;
$light-gray: #f1f3f8;

//Цвета текста
$headline: #333638;
$text: #312f30;
$text-80: #302e2a;
$text-60: rgba(48, 46, 42, 0.6);
$text-40: rgba(48, 46, 42, 0.4);
$neutral: #444;
